.header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2F769D;
    height: 13vh;
}

.myname-title{
    float: left;
    font-family: 'Press Start 2P', cursive; 
    font-size: 6vh;
    margin: 0;
    padding-left: 3vw;
    position: relative;
    bottom: -6.25vh;
    color: #17FB3F;
}