.portrait{
    background: url('../assets/images/picassoAtTheLapinAgile.jpg') center no-repeat;
    background-size: cover;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    float: right;
}

.quote{
    float: right;
    background: #04060472;
}