.navigator{
    width: 100vw;
}

.nav-links{
    align-content: center;
    list-style: none;
    position: fixed;
    padding: 0.1em 0.35em 0.1em 0.1em;
    left: 3vw;
    top: 20vh;
    border: 5px inset #FF9517;
    border-radius: 14px;
}

.nav-button{
    width: 100%;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    margin: 2px;
}