@import './project-buttons.css';

.projects-grid{
    margin-left: 33%;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 20vh 20vh 20vh;
    grid-gap: 3% 3%;
    grid-auto-flow: row;
}

.project-icon{
    border: 1px dashed #32BD4A;
    border-radius: 5px;
}

Button{
    color: #2f769d;
    background-color: rgba(110, 93, 71, 0.455);
     border-radius: 5px;
}

h5{
    font-size: 3vh;
    color: #FF9517;
    background-color: #08070582;
}