

.projects-grid{
    margin: auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 10px 10px;
    grid-auto-flow: row;
}

.yelp{
    border: 1px solid black;
}

.dokit{
    border: 1px solid black;
}

.angular{
    border: 1px solid black;
}

.cosmoknot{
    border: 1px solid black;
}

.nytVidSearch{
    border: 1px solid black;
}

.cheatBeat{
    border: 1px solid black;
}

.jsTutorials{
    border: 1px solid black;
}

.cssCreature{
    border: 1px solid black;
}

.gitHub{
    border: 1px solid black;
}