.yelp{
    background: url('../assets/icons/yelp-sketched-logo.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    width: stretch;
    font-family: 'Strait', sans-serif;
}

.dokit{
    background: url('../assets/icons/calendar.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    font-family: 'Strait', sans-serif;
}

.angular{
    background: url('../assets/icons/role-game.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    font-family: 'Strait', sans-serif;
} 

.cosmoknot{
    background: url('../assets/icons/solar-system.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;    
    font-family: 'Strait', sans-serif;
}

.nytVidSearch{
    background: url('../assets/icons/new-york-city-apple-symbol-with-buildings-shapes-inside\ \(1\).png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    font-family: 'Strait', sans-serif;
}

.cheatBeat{
    background: url('../assets/icons/clapping.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    font-family: 'Strait', sans-serif;
}

.jsTutorials{
    background: url('../assets/icons/js-file.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    width: stretch;
    font-family: 'Strait', sans-serif;
}

.cssCreature{
    background: url('../assets/icons/kraken.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    width: stretch;
    font-family: 'Strait', sans-serif;
}

.gitHub{
    background: url('../assets/icons/github.png') center no-repeat;
    background-size: contain;
    border: none;
    height: stretch;
    width: stretch;
    font-family: 'Strait', sans-serif;
} 